@charset "utf-8";
/* CSS Document */

body { background-color: rgb(200,200,200);} h1 {
	background-color: #ACB50E00028B;
} h2 { background-color: #9132EDee3e80;} p { background-color: white;} 
body { background: #5D6618    no-repeat top right;


} 
 