@charset "utf-8";
/* CSS Document */

body { background-color: rgb(200,200,200) url("images/header-bg.png");} h1 {
	 
} h2 { background-color: #ee3e80 url("images/header-bg.png");} p {
	
} 
body { background: #ffffff url("images/wall.jpg")   no-repeat top right;


} 
 